

:root{
--header-height:6rem;


--first-color:hsl(350,98% ,64%);
--title-color:hsl(0,0%,100%);
--text-color:hsl(0, 0%, 81%);
--body-color:hsl(0,0%,6%);
--container-color:hsl(0,0%,10%);
--border-color:hsla(0, 1%, 54%, 0.712);

--body-font: "Syne", serif;
--second-font:"Montserrat", serif;

--big-font-size:clamp(2rem, 0.9706rem + 4.7059vw, 4.5rem);
--h1-font-size:clamp(1rem, -0.1324rem + 5.1765vw, 3.75rem);
--h2-font-size:1.75rem;
--h3-font-size:1.5rem;
--normal-font-size:1.125rem;
--small-font-size:1rem;
--smaller-font-size:0.875rem;

--weight-400:400;
--weight-500:500;
--weight-600:600; 
--weight-700:700;
--weight-800:800;

--transition: cubic-bezier(0.05,0.2,0.1,1);
--radius:0.5rem;

--z-fixed:100;
--z-tooltip:10;
}
/* responsive typography */
@media screen and (max-width:992px) {
    :root{
        --header-height:5rem;
    --h1-font-size:1.5rem;
    --h3-font-size:1.25rem;
    --normal-font-size:1rem;
    --small-font-size:0.9375rem;
    --smaller-font-size:0.813rem;
    }
} 
    
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

html {
    scroll-behavior: auto;
   
  }
  
body{
    background-color: var(--body-color);
}
input,
textarea,
body
{
    color: var(--text-color);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--weight-700);
    
}

h1,
h2,
h3{
    color: var(--text-color);
    font-weight: var(--weight-700);


}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
p{
    line-height: 1.67em;
   
}
img{
    max-width: 100%;
}
textarea,
input{
    background-color: transparent;
    outline: none;
    border: none;
}
.container{
    max-width: 1260px;
   
    margin-inline: auto;
    padding-inline: 0.75rem;
}
.grid{
    display: grid;
    gap:1.75rem;
}

.section{
    padding-block: 8rem;
}
.section_title{
    font-size: var(--h1-font-size);
    margin-bottom: 1rem;
}

.section_title:not(.about .section_title, .contact .section_title),
.section_description{
text-align: center;
}

.section_description{
    max-width: 600px;
    margin-inline: auto;
    margin-bottom: 3.75rem;
}
.btn{
    display: inline-block;
    color: var(--text-color);
    background-color:var(--first-color);
    border: 2px solid var(--text-color);
    padding: 1rem 2.5rem;
    border-radius: var(--radius);
    font-size: var(--small-font-size);
    font-weight: var(--weight-500);
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 0.35 var(--transition);
}
.btn:hover{
    background-color: transparent;
    color: var(--first-color);
}

/* Home */
.home{
 
    padding-block: 16rem 9rem;
}
.home_container{
    grid-template-columns: 7fr 5fr;
    align-items: center;
}
.home_subtitle{
    font-size: var(--small-font-size);
    font-weight: var(--weight-400);
    letter-spacing: 0.25rem;
    margin-bottom: 1.25rem;
    display: block;
}
.home_title{
   font-family: var(--second-font);
    font-size: var(--big-font-size);
    font-weight: var(--weight-700);
}
.home_title span{
    color: var(--first-color);
}
.home_image{
    width: 420px;
    border-radius: 50%;
    border: 0.75rem solid var(--container-color);
    margin-left: auto;
}

/* Tabs About */

.about{
    background-color: var(--container-color);
}
.about_container{
    grid-template-columns: 5fr 7fr;
    align-items: center;
     column-gap: 4rem;
}
.about_image{
    border: var(--radius);
}

.about_description{
    margin-bottom: 2rem;
}
.tabs_btns{
    display: flex;
    column-gap: 2.5rem;
    margin-bottom: 1.25rem;
}

.tabs_btn,
.tabs_description span:first-child{
    font-weight:var(--weight-700);
}

.tabs_btn{
    cursor: pointer;
    color: var(--text-color);
    position: relative;
    padding-bottom: 0.5rem;
}
.tabs_btn::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 30%;
    height: 2px;
    background-color: var(--text-color);
    transition: all 0.5s var(--transition);
    
}

.tabs_data{
    row-gap: 1rem;
 
}

.tabs_description span:last-child{
    display: block;
}
.tabs_btn.tab_active{
    color: var(--first-color);
}
.tabs_btn.tab_active::after{
background-color: var(--first-color);
width: 100%;
}

.tabs_item[data-content]{
    display: none;
}
.tab_active[data-content]{
    display: block;
}
.tools_container{
    grid-template-columns: repeat(3,1fr);
}
.tools_item{
    background-color:var(--container-color);
    padding: 3.5rem 2.5rem;
    border-radius: var(--radius);
}
.tools_icon{
    color: var(--first-color);
    font-size: 3.25rem;
    line-height: 1;
}
.tools_title{
    font-size: var(--h3-font-size);
    font-weight: var(--weight-500);
    margin-block: 1.75rem 1.25rem;
}
.tools_description{
    font-weight: var(--weight-400);
}

/* portFolio */

.portfolio{
    background-color:var(--container-color);
}
.portfolia_container{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
}
.portfolio_item{
    position: relative;
    cursor: pointer;
    border-radius: var(--radius);
    overflow: hidden;
}
.portfolio_item::after,
.portfolio_data
{
position: absolute;
transition: all 0.65s var(--transition);
}
.portfolio_item::after{
    content: '';
    inset: 0;
background: linear-gradient(180deg,transparent,var(--first-color));
opacity: 0;
}
.portfolio_image{
    vertical-align: middle;
    transition: all 1s var(--transition);
    width: 100%;
}

.portfolio_data{
    inset-inline: 2rem;
    bottom: 1.25rem;
    text-align: center;
    z-index: var(--z-tooltip);
    
}
.portfolio_subtitle,
.portfolio_description{
 color: var(--text-color); 
    color:  black;
    opacity: 0.7;
}

.portfolio_subtitle{
    font-size: var(--small-font-size);
    margin-bottom: 0.25rem;
}
.portfolio_title{
    font-size: var(--h2-font-size);
    font-weight: var(--weight-600);
    margin-bottom: 0.75rem;
}
.portfolio_description{
    font-weight: var(--weight-400);
    display: none;
}

.portfolio_title{
    color: 2px solid black;
}
/* work over */

.portfolio_item:hover::after{
    opacity: 1;
}

.portfolio_item:hover .portfolio_image{
  transform: scale(1.1);
}

.portfolio_item:hover .portfolio_description{
    display: block;
}
.portfolio_item:hover .portfolio_data{
    transform: translateY(-2rem);
}

/* Contact */

.contact_container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    column-gap: 4rem;
    font-family: var(--second-font);
}
.contact_description,
.contact_input{
    font-weight: var(--weight-500);
}
.contact_description{
    margin-bottom: 3rem;
}
.contact_form{
    position: relative;
}
.contact_description a{
    color: var(--text-color);
    font-weight: var(--weight-600);
}
.contact_input{
border: 2px solid var(--border-color);
padding: 0.8rem 1.25rem;
width: 100%;
border-radius: var(--radius);
margin-bottom: 1.25rem;
font-size: var(--smaller-font-size);
}

.textarea{
    height: 120px;
    resize: none;
}
.error_message{
position: relative;
bottom: -12%;
margin-top: 12px;
left: 0;
font-size: var(--small-font-size);
font-weight: var(--weight-500);
}
.color-first{
    color: var(--first-color);
}

/* Footer */
.footer{
    background-color: var(--container-color);
    padding-block: 2rem;
}

.footer_container{
    grid-template-columns: repeat(3,1fr);
    align-items: center;
}
.footer_logo{
    color: var(--title-color);
    font-size: 2.5rem;
    font-weight: var(--weight-700);
}
.footer_logo span{
    color: var(--first-color);
}
.footer_socials{
    display: flex;
    justify-content: center;
    column-gap: 0.75rem;
}
.footer_social_link{
color: var(--text-color);
font-size: var(--small-font-size);
border: 2px solid var(--text-color);
height: 46px;
width: 46px;
border-radius: 50%;
display: grid;
place-items: center;
transition: all 0.3s var(--transition);
}
.footer_social_link:hover{
    background-color: var(--first-color);
    border-color: var(--first-color);
}
.footer_copyright{
    font-size: var(--small-font-size);
    font-weight:var(--weight-500);
    justify-self: flex-end;
}

/* Header & nav */
.header{
 
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    z-index: var(--z-fixed);
}
.nav,
.nav_list,
.nav_socials{
    display: flex;
}
.nav{
    height: calc(var(--header-height) + 1.5rem);
    align-items: center;
    justify-content: space-between;
    column-gap: 3rem;
}
.nav_toggle,
.nav_close{
    display: none;
}

.nav_logo{
    color: var(--title-color);
    font-size: 2.3rem;
    font-weight: var(--weight-700);
}
.nav_logo span{
    color: var(--first-color);
}
.nav_list{
    column-gap: 2rem;
}
.nav_link,
.nav_social_link{
    font-size: var(--small-font-size);
    color: var(--title-color);
    transition: all 0.35 var(--transition);
}
.nav_link{
    font-weight: var(--weight-500);
}
.nav_socials{
column-gap: 1.5rem;
margin-left: auto;
}
.nav_social_link:hover{
  color: var(--first-color);
  transform: translateY(-0.25rem);
}
.nav_link-btn{
font-size: var(--smaller-font-size);
background-color: transparent;
border-color: var(--border-color);
padding: 0.62rem 1.25rem;
}
.nav_link-btn:hover{
    background-color: var(--first-color);
    border-color: var(--first-color);
    color: var(--title-color);
}
.active-link,
.nav_link:hover {
color: var(--first-color);
}

.scroll-header{
    position: fixed;
    background-color: var(--container-color);
    box-shadow: 0 0 10px hsla(0, 0%,0%, 0.25);
    animation: slide-down 0.7s;
}
@keyframes slide-down {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }
}
.scroll-header .nav{
    height: var(--header-height);
}
.scroll_up{
    position: fixed;
    right: 1rem;
    bottom:-100%;
    width: 50px;
    height: 50px;
    border-radius: 50%0;
    background-color: var(--title-color);
    display: grid;
    place-items: center;
    z-index: var(--z-fixed);
    transition: all 0.3s var(--transition);
}
.scrollup_icon{
    color: var(--first-color);
    font-size: 2.25rem;
    line-height: 1;
}
.show-scroll{
    bottom: 3rem;
}

/* for large devices */
@media screen and (max-width:1200px) {
    .container{
        max-width: 960px;
    }
    .nav_btns{
        display: none;
    }
    .home{
        padding-top: 11rem;
    }
    .home_container,
    .about_container
    {
        grid-template-columns: 1fr;
    }
    .home_container
    .about_container{
        row-gap: 2rem;
    }
    .home_content{
        order: 1;
    }
    .home_image,
    .about_image{
        margin-inline: auto;
    }
    .home_image{
        border: 0.5rem solid var(--container-color);
        height: 380px;
        width: 380px;
    }
    .about_container{
        row-gap: 2.5rem;
    }
    .tools_container,
    .portfolia_container {
        grid-template-columns: repeat(2,1fr);
    }
     .contact_container{
        column-gap: 2rem;
     }
}
@media screen and (max-width:992px){
.container{
    width: 72%;
}
.nav{
    height: var(--header-height);
    column-gap: 1.25rem;
}
.nav_logo{
    font-size: 2rem;
}
.nav_btns,
.nav_toggle,
.nav_close{
    display: block;
}
.nav_link-btn{
    display: none;
}
.nav_menu{
    position: fixed;
    top: 0;
    right: -100%;
    width: 60vw;
    height: 100vh;
    background-color:var(--container-color);
    padding: 3.5rem;
    transition: all 0.3s var(--transition);
}
.show-menu{
    right: 0;
}
.nav_list{
    flex-direction: column;
    row-gap: 1.125rem;
}
.nav_close{
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.nav_socials{
    column-gap: 1rem;
}
.nav_toggle{
    font-size: var(--h2-font-size);
  
}
.nav_close,
.nav_toggle{
    cursor: pointer;
}
.home{
    padding-top: 9rem; 
}
.home_image{
    height: 320px;
    width: 320px;
}
.tools_icon{
    font-size: 2.5rem
}
.tools_title{
    margin-block: 1.5rem 1rem;
}
.contact_container{
grid-template-columns: 1fr;
row-gap: 2rem;
}
.contact_content{
    order: 1;
}
.contact_description{
    margin-bottom: 2rem;
}
.footer_social_link{
    font-size: var(--smaller-font-size);
     width: 36px; 
    height: 36px;
}
.scroll_up{
    height: 42px;
    width: 42px;
}
.scrollup_icon{
    font-size: 2rem;
}
}

/* For Media Devices */
@media screen and (max-width:768px) {
    .container{
        max-width: 540px;
    }
    .home_image{
        height: 280px;
        width: 280px;
    }
    .tabs_btns{
         flex-wrap: wrap;
        row-gap: 0.75rem;
        column-gap: 1.5rem;
    }
    .tools_container,
    .portfolia_container,
    .footer_container{
        grid-template-columns: 1fr;
    }
    .footer_container{
        row-gap: 1.5rem;
        justify-items: center;
    }
    .footer_copyright{
        justify-self: center;
    }
}


@media screen and (max-width:576px) {
    .nav_menu{
        width: 100vw;
        padding: 2.75rem;
    }
    .home_image{
        width: 260px;
        height: 260px;
    }
    .tools_item{
        padding: 2rem 1.5rem;
    }
    
}

@media screen and(max-width:350px) {
    .home_image{
        width: 240px;
        height: 240px;
    }
    .tabs_description span:last-child{
        display: inline;
    }
    .portfolio_data{
        inset-inline: 1.5rem;
        bottom: 1rem;
    }
}